In [1]:
#Union table same tables

In [2]:
import pandas as pd

import pyodbc

import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy.sql import text

import os

import re

In [3]:
# connection link varaibles
# NFL Data databas has all year and team in separate tables
servername = '****'
nfl_data = 'NFL_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [4]:
#create engine url to connect to sql server
engine_nfl_data = create_engine(f'mssql+pyodbc://@{servername}/{nfl_data}{trusted_conneciton}{driver}')
engine_nfl_data

Engine(mssql+pyodbc://@DESKTOP-5IAPFQC/NFL_Data?driver=ODBC+Driver+17+for+SQL+Server&trusted_conneciton=yes)

In [5]:
conn_engine_nfl_data = engine_nfl_data.connect()

In [6]:
# connection link varaibles
# Contains unioned tables from all years and teams
servername = '****'
football_data = 'Football_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [7]:
#create engine url to connect to sql server
engine_football_data = create_engine(f'mssql+pyodbc://@{servername}/{football_data}{trusted_conneciton}{driver}')
engine_football_data

Engine(mssql+pyodbc://@DESKTOP-5IAPFQC/Football_Data?driver=ODBC+Driver+17+for+SQL+Server&trusted_conneciton=yes)

In [8]:
conn_engine_football_data = engine_football_data.connect()

In [9]:
#need to fix year 2023
years = range(2010, 2024)

In [10]:
team_li = [
     '49ers',
     'Bears',
     'Bengals',
     'Broncos',
     'Browns',
     'Buccaneers',
     'Buffalos',
     'Cardinals',
     'Chargers',
     'Chiefs',
     'Colts',
     'Commanders',
     'Cowboys',
     'Dolphins',
     'Eagles',
     'Falcons',
     'Giants',
     'Jaguars',
     'Jets',
     'Lions',
     'Packers',
     'Panthers',
     'Patriots',
     'Raiders',
     'Rams',
     'Ravens',
     'Saints',
     'Seahawks',
     'Steelers',
     'Texans',
     'Titans',
     'Vikings'
]

In [11]:
table_li = [
    'team_stats_and_ranking',
    'schedule_and_game_results',
    'team_conversions',
    'passing',
    'rushing_and_receiving',
    'kick_and_punt_returns',
    'kicking',
    'punting',
    'defense_and_fumbles',
    'scoring_summary',
    'touchdown_log',
    'opponent_touchdown_log'
]

In [12]:
def sql_table_union (years: list, teams: list, table:str):

    sql_table_li = []
    for year in years:
        for team in team_li:
            sql_table = f'select * from {table}_{team}_{year}' 
    
            sql_table_li.append(sql_table)

    sql_table_union = ' union '.join([sqlt for sqlt in sql_table_li])
    
    return sql_table_union

In [13]:
##################### change connection engine databse 'Football_Data' when export to SQL, 
############### but not for query leave 'NFL_Data'
for table in table_li:
    print('***************************************************')
    print(f'{table}')
    sql_table_union_str = sql_table_union(years, team_li, table=table)
    
    sql_df_union = pd.read_sql(sql_table_union_str, con=conn_engine_nfl_data)

    sql_df_union.to_sql(table, con=conn_engine_football_data, if_exists='replace')

    sql_df_union.to_csv(f'Table Data/{table}')

***************************************************
team_stats_and_ranking
***************************************************
schedule_and_game_results
***************************************************
team_conversions
***************************************************
passing
***************************************************
rushing_and_receiving
***************************************************
kick_and_punt_returns
***************************************************
kicking
***************************************************
punting
***************************************************
defense_and_fumbles
***************************************************
scoring_summary
***************************************************
touchdown_log
***************************************************
opponent_touchdown_log

In [14]:
stop

NameError: name 'stop' is not defined