- This notebook will import all player's roster and advanced log tables into sql.
- The notebook URL_Player_Adv_Log webscrapes and imports tables into the files as CSV

In [1]:
import pandas as pd

import pyodbc

import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy.sql import text

import os

In [2]:
# connection link varaibles
# Contains unioned tables from all years and teams
servername = '****' 
football_data = 'Football_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [3]:
#create engine url to connect to sql server
engine = create_engine(f'mssql+pyodbc://{servername}/{football_data}{trusted_conneciton}{driver}')
engine

Engine(mssql+pyodbc://DESKTOP-5IAPFQC/Football_Data?driver=ODBC+Driver+17+for+SQL+Server&trusted_conneciton=yes)

In [4]:
con = engine.connect()

In [5]:
years = range(2010, 2024)

In [6]:
team_li = [
     '49ers',
     'Bears',
     'Bengals',
     'Broncos',
     'Browns',
     'Buccaneers',
     'Bills',
     'Cardinals',
     'Chargers',
     'Chiefs',
     'Colts',
     'Commanders',
     'Cowboys',
     'Dolphins',
     'Eagles',
     'Falcons',
     'Giants',
     'Jaguars',
     'Jets',
     'Lions',
     'Packers',
     'Panthers',
     'Patriots',
     'Raiders',
     'Rams',
     'Ravens',
     'Saints',
     'Seahawks',
     'Steelers',
     'Texans',
     'Titans',
     'Vikings'
]

# SQL Import Roster

In [7]:
#import to nfl data
roster_df = pd.DataFrame()
for year in years:
    for team in team_li:
        file_loc = f'NFL_Data_{year}/{team}/{team}_roster'
            
        df = pd.read_csv(file_loc, index_col=0)

        roster_df = pd.concat([roster_df, df], axis=0)

roster_df.to_csv('Roster 2010-2023/Roster')
roster_df.to_sql(f'Roster', con=con, if_exists='replace', index=False)

61

In [10]:
roster_df.to_csv('Roster 2010-2023/Roster')

NameError: name 'roster_df' is not defined

In [2]:
# connection link varaibles
# Contains unioned tables from all years and teams
servername = '****'
football_data = 'Football_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [3]:
#create engine url to connect to sql server
engine = create_engine(f'mssql+pyodbc://{servername}/{football_data}{trusted_conneciton}{driver}')
engine

Engine(mssql+pyodbc://DESKTOP-5IAPFQC\MSSQLSERVER2019/Football_Data?driver=ODBC+Driver+17+for+SQL+Server&trusted_conneciton=yes)

In [4]:
con = engine.connect()

In [5]:
roster_df = pd.read_csv('Roster 2010-2023/Roster', index_col=0)
roster_df

,Player,BirthDate,Age,Height,Weight,College/University,Position,Games_Played_in_Season,Games_Started_in_Season,NFL_Years,Player_Value,Team,Year,No.
35.0,Phillip Adams,7/20/1988,22.0,6-0,193.0,South Carolina St.,DB,15,0.0,0.0,1.0,49ers,2010,NaN
9.0,Shane Andrus,10/2/1980,30.0,5-10,190.0,"Murray St.,Western Kentucky",K,2,0.0,1.0,0.0,49ers,2010,NaN
64.0,David Baas,9/28/1981,29.0,6-4,312.0,Michigan,C,16,16.0,5.0,7.0,49ers,2010,NaN
75.0,Alex Boone,5/4/1987,23.0,6-7,330.0,Ohio St.,G,1,0.0,0.0,0.0,49ers,2010,NaN
53.0,NaVorro Bowman,5/28/1988,22.0,6-1,230.0,Penn St.,LB,16,1.0,0.0,2.0,49ers,2010,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66.0,Jaylin Williams,2/26/2000,23.0,5-10,195.0,Indiana,CB,3,0.0,0.0,0.0,Vikings,2023,38.0
67.0,Joejuan Williams,12/6/1997,26.0,6-3,212.0,Vanderbilt,CB,2,0.0,4.0,0.0,Vikings,2023,29.0
68.0,D.J. Wonnum,10/31/1997,26.0,6-5,258.0,South Carolina,OLB,15,14.0,3.0,8.0,Vikings,2023,98.0
69.0,Ryan Wright,6/1/2000,23.0,6-3,245.0,Tulane,P,17,0.0,1.0,2.0,Vikings,2023,14.0
70.0,Team Total,NaN,26.5,6-2.2,242.9,NaN,NaN,17,NaN,3.4,NaN,Vikings,2023,NaN

In [6]:
roster_df.to_sql(f'Roster', con=con, if_exists='replace', index=False)

61

In [ ]:
stop