- This notebook will import all player's roster and advanced log tables into sql.
- The notebook URL_Player_Adv_Log webscrapes and imports tables into the files as CSV

In [1]:
import pandas as pd

import pyodbc

import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy.sql import text

import os

In [4]:
# connection link varaibles
# Contains unioned tables from all years and teams
servername = '****' 
football_data = 'Football_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [5]:
#create engine url to connect to sql server
engine = create_engine(f'mssql+pyodbc://{servername}/{football_data}{trusted_conneciton}{driver}')
engine

Engine(mssql+pyodbc://DESKTOP-5IAPFQC\MSSQLSERVER2019/Football_Data?driver=ODBC+Driver+17+for+SQL+Server&trusted_conneciton=yes)

In [6]:
con = engine.connect()

In [7]:
years = range(2010, 2024)

In [8]:
team_li = [
     '49ers',
     'Bears',
     'Bengals',
     'Broncos',
     'Browns',
     'Buccaneers',
     'Bills',
     'Cardinals',
     'Chargers',
     'Chiefs',
     'Colts',
     'Commanders',
     'Cowboys',
     'Dolphins',
     'Eagles',
     'Falcons',
     'Giants',
     'Jaguars',
     'Jets',
     'Lions',
     'Packers',
     'Panthers',
     'Patriots',
     'Raiders',
     'Rams',
     'Ravens',
     'Saints',
     'Seahawks',
     'Steelers',
     'Texans',
     'Titans',
     'Vikings'
]

# SQL Import Roster

In [7]:
#import to nfl data
roster_df = pd.DataFrame()
for year in years:
    for team in team_li:
        file_loc = f'NFL_Data_{year}/{team}/{team}_roster'
            
        df = pd.read_csv(file_loc, index_col=0)

        roster_df = pd.concat([roster_df, df], axis=0)

roster_df = roster_df[roster_df['Player'] != 'Team Total']
roster_df.to_csv('Roster 2010-2023/Roster')
roster_df.to_sql(f'Roster', con=con, if_exists='replace', index=False)

60

In [62]:
roster.to_csv('Roster 2010-2023/Roster')
roster.to_sql(f'Roster', con=con, if_exists='replace', index=False)

104

In [2]:
# connection link varaibles
# Contains unioned tables from all years and teams
servername = '****'
football_data = 'Football_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [3]:
#create engine url to connect to sql server
engine = create_engine(f'mssql+pyodbc://{servername}/{football_data}{trusted_conneciton}{driver}')
engine

Engine(mssql+pyodbc://DESKTOP-5IAPFQC\MSSQLSERVER2019/Football_Data?driver=ODBC+Driver+17+for+SQL+Server&trusted_conneciton=yes)

In [4]:
con = engine.connect()

In [5]:
roster_df = pd.read_csv('Roster 2010-2023/Roster', index_col=0)
roster_df

,Player,BirthDate,Age,Height,Weight,College/University,Position,Games_Played_in_Season,Games_Started_in_Season,NFL_Years,Player_Value,Team,Year,No.,Official_Position
35.0,Phillip Adams,7/20/1988,22.0,6-0,193.0,South Carolina St.,DB,15,0.0,0.0,1.0,49ers,2010,NaN,DB
9.0,Shane Andrus,10/2/1980,30.0,5-10,190.0,"Murray St.,Western Kentucky",K,2,0.0,1.0,0.0,49ers,2010,NaN,K
64.0,David Baas,9/28/1981,29.0,6-4,312.0,Michigan,C,16,16.0,5.0,7.0,49ers,2010,NaN,C
75.0,Alex Boone,5/4/1987,23.0,6-7,330.0,Ohio St.,G,1,0.0,0.0,0.0,49ers,2010,NaN,G
53.0,NaVorro Bowman,5/28/1988,22.0,6-1,230.0,Penn St.,LB,16,1.0,0.0,2.0,49ers,2010,NaN,LB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65.0,Benton Whitley,2/12/1999,24.0,6-3,260.0,Holy Cross,LB,1,0.0,0.0,0.0,Vikings,2023,51.0,LB
66.0,Jaylin Williams,2/26/2000,23.0,5-10,195.0,Indiana,CB,3,0.0,0.0,0.0,Vikings,2023,38.0,DB
67.0,Joejuan Williams,12/6/1997,26.0,6-3,212.0,Vanderbilt,CB,2,0.0,4.0,0.0,Vikings,2023,29.0,DB
68.0,D.J. Wonnum,10/31/1997,26.0,6-5,258.0,South Carolina,OLB,15,14.0,3.0,8.0,Vikings,2023,98.0,LB
69.0,Ryan Wright,6/1/2000,23.0,6-3,245.0,Tulane,P,17,0.0,1.0,2.0,Vikings,2023,14.0,DST

In [6]:
roster_df.to_sql(f'Roster', con=con, if_exists='replace')

105

In [14]:
stop

NameError: name 'stop' is not defined

In [ ]:
# Chaning position column so that I can join for each weekly player stats

In [2]:
roster = pd.read_csv('Roster 2010-2023/Roster', index_col=0)
roster

,Player,BirthDate,Age,Height,Weight,College/University,Position,Games_Played_in_Season,Games_Started_in_Season,NFL_Years,Player_Value,Team,Year,No.,Official_Position
35.0,Phillip Adams,7/20/1988,22.0,6-0,193.0,South Carolina St.,DB,15,0.0,0.0,1.0,49ers,2010,NaN,DB
9.0,Shane Andrus,10/2/1980,30.0,5-10,190.0,"Murray St.,Western Kentucky",K,2,0.0,1.0,0.0,49ers,2010,NaN,K
64.0,David Baas,9/28/1981,29.0,6-4,312.0,Michigan,C,16,16.0,5.0,7.0,49ers,2010,NaN,C
75.0,Alex Boone,5/4/1987,23.0,6-7,330.0,Ohio St.,G,1,0.0,0.0,0.0,49ers,2010,NaN,G
53.0,NaVorro Bowman,5/28/1988,22.0,6-1,230.0,Penn St.,LB,16,1.0,0.0,2.0,49ers,2010,NaN,LB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65.0,Benton Whitley,2/12/1999,24.0,6-3,260.0,Holy Cross,LB,1,0.0,0.0,0.0,Vikings,2023,51.0,LB
66.0,Jaylin Williams,2/26/2000,23.0,5-10,195.0,Indiana,CB,3,0.0,0.0,0.0,Vikings,2023,38.0,DB
67.0,Joejuan Williams,12/6/1997,26.0,6-3,212.0,Vanderbilt,CB,2,0.0,4.0,0.0,Vikings,2023,29.0,DB
68.0,D.J. Wonnum,10/31/1997,26.0,6-5,258.0,South Carolina,OLB,15,14.0,3.0,8.0,Vikings,2023,98.0,LB
69.0,Ryan Wright,6/1/2000,23.0,6-3,245.0,Tulane,P,17,0.0,1.0,2.0,Vikings,2023,14.0,DST

In [ ]:
roster

In [55]:
roster['Primary Position'] = roster['Position'].apply(lambda x: x.split('/')[0])

In [56]:
roster['Primary Position'] = roster['Primary Position'].apply(lambda x: x.strip())

In [57]:
roster['Official_Position'] = roster['Primary Position'].replace({
    'FB': 'RB',
    'BT': 'DL',
    'CB': 'DB',
    'DE': 'DL',
    'DT': 'DL',
    'FS': 'DB',
    'KB': 'LB',
    'BODE': 'LB',
    'LCB': 'DB',
    'LD': 'LB',
    'LDE': 'DL',
    'LDT': 'DL',
    'LILB': 'LB',
    'LLB': 'LB',
    'LOLB': 'LB',
    'MLB': 'LB',
    'NT': 'DL',
    'OLB': 'LB',
    'RCB': 'DB',
    'RDE': 'DL',
    'RDT': 'DL',
    'RILB': 'LB',
    'RLB': 'LB',
    'ROLB': 'LB',
    'S': 'DB',
    'SS': 'DB',
    'LA': 'DST',
    'LS': 'DST',
    'P': 'DST',
    'PR': 'DST'
})

In [58]:
roster['Official_Position'].value_counts()

Official_Position
DB       5874
DL       4561
LB       4225
WR       3437
RB       2574
TE       1859
QB       1100
T         941
DST       915
C         801
G         669
K         608
LG        511
RT        508
RG        504
LT        495
OL        120
GOC         5
LBODE       1
TOG         1
OT          1
T-G         1
Name: count, dtype: int64

In [59]:
roster.drop(columns=['Primary Position'], inplace=True)

In [19]:
#give roster a column for their 'Table Position' 
# which will match with their positions weekly data table
#list of position abbrev for weekly tables

# QB
# RB
# WR
# TE
# K
# DST
# DL
# LB
# DB

first_pos = roster['Position'].apply(lambda x: x.split('/')[0])

In [24]:
vc_first_pos = first_pos.value_counts().reset_index()

In [29]:
vc_first_pos['Position'].sort_values()

45       BT
9         C
23       CB
1        DB
5        DE
38       DL
6        DT
36       FB
19       FS
10        G
40      GOC
11        K
49       KB
47       LA
2        LB
44    LBODE
14      LCB
41       LD
21      LDE
28      LDT
16       LG
33     LILB
30      LLB
32     LOLB
24       LS
20       LT
27      MLB
26       NT
37       OL
39      OLB
46       OT
13        P
42       PR
7        QB
3        RB
12      RCB
22      RDE
29      RDT
18       RG
35     RILB
31      RLB
34     ROLB
17       RT
25        S
15       SS
8         T
48      T-G
4        TE
43      TOG
0        WR
Name: Position, dtype: object

In [ ]:
roster['Position'] = roster['Position'].apply(lambda x: x.split('/')[0])

In [ ]:
# QB
# RB
# WR
# TE
# K
# DST
# DL
# LB
# DB

########### REPLACE THESE POSITIONS WITH CORRESPONDING POSITION ABOVE

###### OFFENSE
# C
roster['Position'].replace('C', ' ')
# G
roster['Position'].replace('G', ' ')
# GOC
roster['Position'].replace('GOC', ' ')
# FB
roster['Position'] = roster['Position'].replace('FB', 'RB')
# LG
roster['Position'].replace('LG', ' ')
# LT
roster['Position'].replace('LT', ' ')
# OL
roster['Position'].replace('OL', ' ')
# OT
roster['Position'].replace('OT', ' ')
# RG
roster['Position'].replace('RG', ' ')
# RT
roster['Position'].replace('RT', ' ')
# T
roster['Position'].replace('T', ' ')
# T-G
roster['Position'].replace('T-G', ' ')
# TOG
roster['Position'].replace('TOG', ' ')

In [31]:
#### DEFENSE
# BT
roster['Position'] = roster['Position'].replace('BT', 'DL')
# CB
roster['Position'] = roster['Position'].replace('CB', 'DB')
# DE
roster['Position'] = roster['Position'].replace('DE', 'DL')
# DT
roster['Position'] = roster['Position'].replace('DT', 'DL')
# FS
roster['Position'] = roster['Position'].replace('FS', 'DB')
# KB
roster['Position'] = roster['Position'].replace('KB', 'LB')
# LBODE
roster['Position'] = roster['Position'].replace('LBODE', 'LB')
# LCB
roster['Position'] = roster['Position'].replace('LCB', 'DB')
# LD
roster['Position'] = roster['Position'].replace('LD', 'LB')
# LDE
roster['Position'] = roster['Position'].replace('LDE', 'DL')
# LDT
roster['Position'] = roster['Position'].replace('LDT', 'DL')
# LILB
roster['Position'] = roster['Position'].replace('LILB', 'LB')
# LLB
roster['Position'] = roster['Position'].replace('LLB', 'LB')
# LOLB
roster['Position'] = roster['Position'].replace('LOLB', 'LB')
# MLB
roster['Position'] = roster['Position'].replace('MLB', 'LB')
# NT
roster['Position'] = roster['Position'].replace('NT', 'DL')
# OLB
roster['Position'] = roster['Position'].replace('OLB', 'LB')
# RCB
roster['Position'] = roster['Position'].replace('RCB', 'DB')
# RDE
roster['Position'] = roster['Position'].replace('RDE', 'DL')
# RDT
roster['Position'] = roster['Position'].replace('RDT', 'DL')
# RILB
roster['Position'] = roster['Position'].replace('RILB', 'LB')
# RLB
roster['Position'] = roster['Position'].replace('RLB', 'LB')
# ROLB
roster['Position'] = roster['Position'].replace('ROLB', 'LB')
# S
roster['Position'] = roster['Position'].replace('S', 'DB')
# SS
roster['Position'] = roster['Position'].replace('SS', 'DB')

In [32]:
#### SPECIAL TEAMS
# LA
roster['Position'] = roster['Position'].replace('LA', 'DST')
# LS
roster['Position'] = roster['Position'].replace('LS', 'DST')
# P
roster['Position'] = roster['Position'].replace('P', 'DST')
# PR
roster['Position'] = roster['Position'].replace('PR', 'DST')

5.0     QB!
11.0    QB!
1.0     QB!
10.0    QB!
6.0     QB!
       ...
81.0    QB!
15.0    QB!
20.0    QB!
24.0    QB!
40.0    QB!
Name: Position, Length: 1100, dtype: object