# SQL Connection

In [1]:
import pandas as pd

import pyodbc

import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy.sql import text

import os

In [2]:
pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 18 for SQL Server']

In [3]:
# I need a function to create a sql table

In [1]:
# connection link varaibles
servername = '****'
dbname = 'NFL_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [2]:
#create engine url to connect to sql server
engine = create_engine(f'mssql+pyodbc://@{servername}/{dbname}{trusted_conneciton}{driver}')
engine

NameError: name 'create_engine' is not defined

In [6]:
years = range(2010, 2024)

In [7]:
team_li = [
     '49ers',
     'Bears',
     'Bengals',
     'Broncos',
     'Browns',
     'Buccaneers',
     'Buffalos',
     'Cardinals',
     'Chargers',
     'Chiefs',
     'Colts',
     'Commanders',
     'Cowboys',
     'Dolphins',
     'Eagles',
     'Falcons',
     'Giants',
     'Jaguars',
     'Jets',
     'Lions',
     'Packers',
     'Panthers',
     'Patriots',
     'Raiders',
     'Rams',
     'Ravens',
     'Saints',
     'Seahawks',
     'Steelers',
     'Texans',
     'Titans',
     'Vikings'
]

In [8]:
table_li = [
    'team_stats_and_ranking',
    'schedule_and_game_results',
    'team_conversions',
    'passing',
    'rushing_and_receiving',
    'kick_and_punt_returns',
    'kicking',
    'punting',
    'defense_and_fumbles',
    'scoring_summary',
    'touchdown_log',
    'opponent_touchdown_log'
]

In [9]:
#create table function
def sql_create_table (file_name:str, connection: None, dataframe: None):

    dataframe.to_sql(file_name, con=connection, index=False, if_exists='replace')
    
    return None

In [12]:
for year in years:
    for team in team_li:
        for table in table_li:
            #get dataframe
            df = pd.read_csv(f'NFL_Data_{year}/{team}/{table}_{team}_{year}').drop(columns=['Unnamed: 0'])
    
            #get file name
            string = f'NFL_Data_{year}/{team}/{table}_{team}_{year}'
            file_name = string.split(sep='/')[-1]
    
            sql_create_table(file_name=file_name, connection=engine, dataframe=df)