- This notebook will import all player's roster and advanced log tables into sql.
- The notebook URL_Player_Adv_Log webscrapes and imports tables into the files as CSV

In [1]:
import pandas as pd

import pyodbc

import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy.sql import text

import os

In [2]:
pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 18 for SQL Server']

In [3]:
# connection nfl_data database link varaibles
servername = '****'
nfl_Data = 'NFL_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [4]:
#create engine url to connect to sql server
engine_nfl_Data = create_engine(f'mssql+pyodbc://@{servername}/{nfl_Data}{trusted_conneciton}{driver}')
engine_nfl_Data

Engine(mssql+pyodbc://@DESKTOP-5IAPFQC/NFL_Data?driver=ODBC+Driver+17+for+SQL+Server&trusted_conneciton=yes)

In [5]:
conn_engine_nfl_data = engine_nfl_Data.connect()

In [6]:
# union of all season and team to one table for each table
servername = '****'
football_data = 'Football_Data'
trusted_conneciton = '?trusted_conneciton=yes'
driver = '&driver=ODBC+Driver+17+for+SQL+Server'

In [7]:
#create engine url to connect to sql server
engine_football_data = create_engine(f'mssql+pyodbc://@{servername}/{football_data}{trusted_conneciton}{driver}')
engine_football_data

Engine(mssql+pyodbc://@DESKTOP-5IAPFQC/Football_Data?driver=ODBC+Driver+17+for+SQL+Server&trusted_conneciton=yes)

In [8]:
conn_engine_football_data = engine_football_data.connect()

In [9]:
years = range(2010, 2024)

In [10]:
team_li = [
     '49ers',
     'Bears',
     'Bengals',
     'Broncos',
     'Browns',
     'Buccaneers',
     'Bills',
     'Cardinals',
     'Chargers',
     'Chiefs',
     'Colts',
     'Commanders',
     'Cowboys',
     'Dolphins',
     'Eagles',
     'Falcons',
     'Giants',
     'Jaguars',
     'Jets',
     'Lions',
     'Packers',
     'Panthers',
     'Patriots',
     'Raiders',
     'Rams',
     'Ravens',
     'Saints',
     'Seahawks',
     'Steelers',
     'Texans',
     'Titans',
     'Vikings'
]

# SQL Import Roster

In [11]:
#import to nfl data
for year in years:
    for team in team_li:
        file_loc = f'NFL_Data_{year}/{team}/{team}_roster'
            
        df = pd.read_csv(file_loc, index_col=0)

        df.to_sql(f'Roster_{team}_{year}', con=conn_engine_nfl_data, if_exists='replace')

In [12]:
# roster to sql union all teams per season
# union all team from nfl_data and save to football_data_year database
all_player_li = []

for year in years:
    #database
    football_db = f'Football_Data_{year}'

    #db connection str
    football_data_eng = create_engine(f'mssql+pyodbc://@{servername}/{football_db}{trusted_conneciton}{driver}')

    football_data_year_conn = football_data_eng.connect()


    players_li = []
    
    for team in team_li:
        players = f'select * from Roster_{team}_{year}'

        players_li.append(players)
    
    players_union = ' union '.join([p for p in players_li])

    all_player_li.append(players_union)

    
    df = pd.read_sql(players_union, con=conn_engine_nfl_data, index_col='index')

    print(year, team, len(df.columns))

    df.to_sql(f'Players', con=football_data_year_conn, if_exists='replace', index='index')

2010 Bills 14
2011 Bills 14
2012 Bills 14
2013 Bills 14
2014 Bills 14
2015 Bills 14
2016 Bills 14
2017 Bills 14
2018 Bills 14
2019 Bills 14
2020 Bills 14
2021 Bills 14
2022 Bills 14
2023 Bills 14

In [13]:
#union all players
players_union_all = ' union '.join([a for a in all_player_li])

df_all_pl = pd.read_sql(players_union_all, con=conn_engine_nfl_data, index_col='index')

df_all_pl.to_sql(f'Players', con=conn_engine_football_data, if_exists='replace', index='index')

103

In [14]:
stop

NameError: name 'stop' is not defined

In [16]:
for year in range(2010,2024):
        #database
    football_db = f'Football_Data_{year}'

    #db connection str
    football_data_eng = create_engine(f'mssql+pyodbc://@{servername}/{football_db}{trusted_conneciton}{driver}')

    football_data_year_conn = football_data_eng.connect()
    
    for team in team_li:
        file_loc = f'NFL_Data_{year}\{team}\{team}_roster'

        df = pd.read_csv(file_loc, index_col=0)

        try:
            df = df.drop(columns=['Unnamed: 0'])
        except:
            pass

        df.to_csv(file_loc, index=0)
        
        df.to_sql('Players', con=football_data_year_conn, if_exists='replace')

ProgrammingError: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near ')'. (102) (SQLExecDirectW)")
[SQL: WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position
]
[parameters: ('Players', 'dbo')]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
stop

# Import players advanced stats log into sql

In [ ]:
# imports player advanced log to each season 

years = range(2018,2024)

players_adv_log_name_li = []

for year in years:
    # go to nfl data year data
    year = str(year)

    file_loc_year = f'NFL_Data_{year}/'
        
    os.chdir(file_loc_year)

    
    for team in team_li:
        # got to the team and tis player log
        file_loc_team = f'{team}/Players Log'

        #change folders and get list of files of players
        os.chdir(file_loc_team)

        player_file_list = os.listdir()

        #i want to save all of the players file name as a list to refer back to when
        # I need to union all of the players
        players_adv_log_name_li.append([year]+player_file_list)
        
        for player in player_file_list:
            #get dataframe
            df = pd.read_csv(player, index_col=0)
            # import to sql nfl_data
            df.to_sql(player+'_adv_stats'+'_'+team+'_'+year, con=conn_engine_nfl_data, if_exists='replace')

        os.chdir('..')
        os.chdir('..')
    
    os.chdir('..')

In [ ]:
# get player names list

players_adv_log_name_li = []

years = range(2018,2024)

for year in years:
    year = str(year)

    file_loc_year = f'NFL_Data_{year}/'
        
    os.chdir(file_loc_year)

    
    for team in team_li:
        file_loc_team = f'{team}/Players Log'

        #change folders and get list of files of players
        os.chdir(file_loc_team)

        player_file_list = os.listdir()

        #i want to save all of the players file name as a list to refer back to when
        # I need to union all of the players
        players_adv_log_name_li.append([year]+player_file_list)

        os.chdir('..')
        os.chdir('..')
    
    os.chdir('..')

In [ ]:
players_adv_log_name_li

In [ ]:
stop

#### I need to query each players position, from player advanced log to player roster which has the position information. 
- I'm gettig the position data from the Players table which is all the teams rosters for that season
- I need to get the position from the Players table and

In [ ]:
#### working on: 4/3/2024

# in sql go get each seasons Players table 
# and use Columns: Player, Team, Pos
# use Players query data to go into each player adv log file

for year in range(2018,2024):
    for team in team_li:
        for player_li in players_adv_log_name_li:
            for player in player_li: